.about {
  background-color: $bg-color;
  padding-top: 90px;

  &__wrapper {
    display: flex;
    gap: 120px;
  }
  
  &__left {
    max-width: 480px;  
  }
  
  &__title {
    margin-bottom: 30px;
  }
  
  &__desc {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  
  &__right {
    text-align: end;
  }

  &__link {
    font-weight: 500;
    color: $orange-color;
    padding-right: 15px;

    &:after {
      content: "";
      display: inline-block;
      width: 26px;
      height: 16px;
      background-image: url("../img/arrow.svg");
      // background-image: -webkit-image-set(
      //   url("../img/arrow.avif") 1x,
      //   url("../img/arrow.webp") 1x,
      //   url("../img/arrow.svg") 1x
      // );
      // background-image: image-set(
      //   url("../img/arrow.avif") 1x,
      //   url("../img/arrow.webp") 1x,
      //   url("../img/arrow.svg") 1x
      // );
      transform: translate(15px, 2px);
    }
  }  
}