.contacts {
  max-width: 780px;
  width: 100%;
  margin: auto;
  text-align: left;
  white-space: normal;

  @media (max-width: 1280px) {
    max-width: 680px;
  }

  @media (max-width: 1023px) {
    max-width: 540px;
  }

  @media (max-width: 767px) {
    max-width: 270px;
  }
  
  &__container {
    position: relative;
    padding: 50px 100px;
    background-color: $bg-color;
    border-radius: 20px;

    @media (max-width: 1280px) {
      padding: 50px 93px;
    }
  
    @media (max-width: 1023px) {
      padding: 40px 60px;
    }

    @media (max-width: 767px) {
      padding: 29px 30px;
    }
  }

  &__title {
    font-weight: 700;  
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: $orange-color;
    margin: 0 auto 30px;

    @media (max-width: 1280px) {
      font-size: 24px;
      line-height: 30px;
    }
  
    @media (max-width: 1023px) {
      font-size: 18px;
      line-height: 24px;
    }
  
    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__text {
    margin-bottom: 20px;
    text-align: center;

    @media (max-width: 1280px) {
      font-size: 18px;
      line-height: 24px;
    }
  
    @media (max-width: 1023px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  & span {
    font-weight: 500;
    color: $orange-color;
  }

  &__item {
    display: flex;
    justify-content: center;
    gap: 45px;
    font-weight: 500;
    margin-bottom: 60px;

    @media (max-width: 1280px) {
      font-size: 18px;
      line-height: 24px;      
      gap: 40px;
    }

    @media (max-width: 1023px) {
      font-size: 14px;
      line-height: 20px;
    }

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 10px;
      align-items: center;
      margin-bottom: 30px;
    }

    &_phone {
      &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        margin-right: 14px;
        background: url("../img/call.svg") no-repeat;

        @media (max-width: 1280px) {
          margin-right: 10px;
        }
      }
    }

    &_email {
      &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        margin-right: 14px;
        background: url("../img/mail.svg") no-repeat;

        @media (max-width: 1280px) {
          margin-right: 10px;
        }
      }
    }
  }
  
  &__form {
    font-size: 12px;
    line-height: 14px;

    @media (max-width: 1280px) {
      max-width: 420px;
      margin: 0 auto;
    }

    &_phone {
      display: inline-block;
      text-align: left;
      margin-right: 20px;
    }

    &_email {
      display: inline-block;
      text-align: left;
    }

    &_send {
      display: block;
      margin-top: 34px;
      margin-left: 530px;
    }
  }

  &__data {
    display: flex;  
    justify-content: space-between;
    padding: 0;
    margin: 0;
    border: 0;
    margin-bottom: 40px;

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      gap: 14px;
      margin-bottom: 20px;
    }
  }

  &__label {
    font-size: 12px;
    line-height: 14px;
  }
  
  &__input {  
    display: block;
    width: 280px;
    height: 40px;
    font-size: 18px;
    line-height: 16px;
    padding-left: 25px;
    padding-right: 15px;
    border: none;

    @media (max-width: 1280px) {
      width: 200px;
      height: 35px;
    }

    &:hover {
      border: 1px solid #CBCBCB;
    }
    
    &:focus {
      border: 1px solid $main-color;
    }
  }

  &__form {
    &_btn {
      display: block;
      margin-left: auto;

      @media (max-width: 767px) {
        margin: 0 auto;
      }
    }
  }

  &__btn {
    &_image {
      transition: .3s ease-in-out;

      @media (max-width: 767px) {
        width: 61px;
        height: 59px;
      }

      &:hover {
        filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.25));
      }

      &:focus {
        filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.25));
      }
    }

    &_text {
      font-size: 12px;
      text-transform: uppercase;
      color: $orange-color;
      transition: .3s ease-in-out;

      @media (max-width: 767px) {
        font-size: 8px;
      }
  
      &:hover {
        filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.25));
      }
    }
  }

  h3:before .contact__title {
    display: none;
  }
}