.footer {
  padding-top: 90px;
  background-color: $main-color;
  color: $text-color;

  &__location {
    display: flex;
    justify-content: space-between;
    gap: 120px;
    margin-bottom: 87px;
  }

  &__contacts {    
    &_title {
      font-family: Comfortaa;
      font-size: 40px;
    }
    
    &_text {
      margin-bottom: 22px;
    }
  }

  &__address {
    font-size: 14px;
    font-style: normal;
    margin-bottom: 22px;
  }

  &__phone {
    font-weight: 500;
    display: inline-block;
    margin-bottom: 20px;

    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 24px;
      height: 24px;
      margin-right: 14px;
      background: url("../img/call.svg") no-repeat; 
    }
  }

  &__email {
    display: inline-block;
    font-weight: 500;

    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 24px;
      height: 24px;
      margin-right: 14px;
      background: url("../img/mail.svg") no-repeat;
    }
  }

  &__property {
    display: flex;        
  }

  &__logo {
    margin-right: 240px;
  }

  &__add {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  &__social {
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
  }

  &__link {
    display: block;
    width: 40px;
    height: 40px;
    background-size: contain;
    transition: .3s ease-in-out;
    color: $orange-color;
    
    &:hover {
      color: $click-color;
    }
  }

  &__author {
    font-size: 14px;
    &_email {
      &:hover {
        color: $click-color;
        transition: .3s ease-in-out;
        cursor: pointer;
      }
    }
  }
}


// .footer__link svg:focus {
//   color: var(--next-color);
//   border: 1px solid var(--add-color);
//   outline: none;
// }
