.footer {
  padding-top: 90px;
}

.contacts {
  max-width: 780px;
  background-color: $bg-color;
  text-align: center;
  margin: 0 auto;
  padding: 50px 0px;
  border-radius: 20px;
}

.contacts__title {
  font-weight: 700;  
  font-size: 30px;
  line-height: 40px;
  color: $orange-color;
  margin-bottom: 30px;
}

h3:before .contact__title {
  display: none;
}

.contacts__text {
  margin-bottom: 20px;
}

.contacts__text span {
  font-weight: 500;
  color: $orange-color;
}

.contacts__item {
  margin-bottom: 60px;
}

.contacts__item_phone,
.contacts__item_email {
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.contacts__item_phone {
  margin-right: 45px;
}

.contacts__item_phone:before,
.contacts__item_email:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-right: 14px;
}

.contacts__item_phone:before {  
  background: url("../img/call.svg") no-repeat;  
}

.contacts__item_email:before {
  background: url("../img/mail.svg") no-repeat;
}

.contacts__form {
  font-size: 12px;
  line-height: 14px;
  }

.contacts__form_phone {
  display: inline-block;
  text-align: left;
  margin-right: 20px;
}

.contacts__form_email {
  display: inline-block;
  text-align: left;
}

.contacts__input {
  width: 280px;
  height: 40px;
  border: none;  
  transition: .3s ease-in-out;
}

.contacts__input:hover {
  border: 1px solid #CBCBCB;
}

.contacts__input:focus {
  border: 1px solid $main-color;
}

.contacts__form_send {
  display: block;
  margin-top: 34px;
  margin-left: 530px;
}

.contacts__btn_text { 
  text-transform: uppercase;
  color: $orange-color;
}

.contacts__btn_image {
  transition: .3s ease-in-out;
}

.contacts__btn_image:hover,
.contacts__btn_image:focus {
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.25));
}