.project {
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    &_list {
      display: flex;
      flex-direction: column;
      gap: 30px;

      @media (max-width: 1023px) {
        gap: 20px;
      }
    }
    
    &_item {
      display: flex;
      max-width: 680px;
      width: 100%;
      gap: 20px;

      @media (max-width: 1023px) {
        max-width: 420px;
        gap: 10px;
      }

      &:focus {
        border: 1px solid $orange-color;
      }
    }

    &_image {
      margin-right: 20px;

      @media (max-width: 1280px) {
        width: 200px;
        height: 130px;
      }

      @media (max-width: 1023px) {
        height: 104px;
      }
    }
    
    &_description {
      max-width: 380px;
      width: 100%;

      @media (max-width: 1280px) {
        font-size: 24px;
        line-height: 30px;
      }

      @media (max-width: 1023px) {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 3px;
      }
    }

    &_title {
      font-weight: 500;
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 15px;

      @media (max-width: 1280px) {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 7px;
      }

      @media (max-width: 1023px) {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 3px;
      }
    }
  
    &_text {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 20px;
      text-overflow: ellipsis;
      max-height: 58px;

      @media (max-width: 1280px) {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 11px;
      }

      @media (max-width: 1023px) {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px;
      }
    }
  }

  &__link {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: $orange-color;

    @media (max-width: 1280px) {
      font-size: 18px;
      line-height: 24px;
    }

    @media (max-width: 1023px) {
      font-size: 14px;
      line-height: 20px;
    }

    &:after {
      content: "";
      display: inline-block;
      width: 26px;
      height: 16px;
      background-image: url("../img/arrow.svg");
      transform: translate(15px, 2px);
    }
  }

  &__right {
    &_wrapper {
      .project__link {
        display: none;

        @media (max-width: 1280px) {
          display: block;
          text-align: end;
          padding-top: 19px;
          padding-right: 24px;
        }

        @media (max-width: 1023px) {
          padding-top: 0;
          padding-right: 85px;
        }
      }

      @media (max-width: 1280px) {
        max-width: 290px;
      }      
    }

    &_banner {
      position: relative;
      width: 380px;
      height: 450px;
      background-image: url('../img/project5.jpg');
      background-image: -webkit-image-set(
        url('../img/project5.avif') 1x,
        url('../img/project5.webp') 1x,
        url('../img/project5.jpg') 1x
      );
      background-image:image-set(
        url('../img/project5.avif') 1x,
        url('../img/project5.webp') 1x,
        url('../img/project5.jpg') 1x
      );
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 52px;

      @media (max-width: 1280px) {
        width: 280px;
        height: 332px;
        margin-bottom: 33px;
      }

      @media (max-width: 1023px) {
        width: 220px;
        height: 271px;
        margin-bottom: 20px;
      }
    }

    &_description {
      position: absolute;
      bottom: 40px;
      left: 10px;
      right: 10px;
      font-weight: 500;
      font-size: 30px;
      line-height: 40px;
      color: #fff;

      @media (max-width: 1280px) {
        font-size: 24px;
        line-height: 30px;
      }

      @media (max-width: 1280px) {
        font-size: 18px;
        line-height: 24px;
      }
    }

    &_banner {
      .project__link {
        position: absolute;
        bottom: 15px;
        right: 24px;
      }
    }

    &_title {
      font-weight: 500;
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 22px;

      @media (max-width: 1280px) {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 6px;
      }

      @media (max-width: 1023px) {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px;
      }
    }
    
    &_content {
      display: flex;
      flex-wrap: wrap;
      gap: 22px;
      max-width: 400px;
      width: 100%;

      @media (max-width: 1280px) {
        gap: 20px;
      }

      @media (max-width: 1023px) {
        gap: 18px 20px;
      }

      &_link {
        &:nth-child(n+7) {
          @media (max-width: 1280px) {
            display: none;
          }        
        }
      }
      

      &_image {
        @media (max-width: 1280px) {
          width: 80px;
          height: 70px;
        }

        @media (max-width: 1023px) {
          width: 60px;
          height: 52px;
        }
      }
    }
  }
}